div.CP-MainContainer {
	margin: auto;
	width: auto;
}

div.CP-MainContainer > h1.CP-AppHeader {
	display: block;
	text-align: center;
}

div.CP-MainContainer > div.CP-TopToolContainer {
	display: flex;
	align-items: center;
	height: 80px;
}

div.CP-MainContainer > div.CP-TopToolContainer > div.CP-l-datepicker {
	width: auto;
	min-width: 140px;
	max-width: 180px;
	margin: auto;
}

div.CP-MainContainer > div.CP-TopToolContainer > div.CP-l-textfield {
	margin: auto;
}


div.CP-MainContainer > div.CP-TopToolContainer > button {
	padding: 3px 6px 3px 6px;
	color: black;
}

div.CP-MainContainer > div.CP-TopToolContainer > button.CP-l-submitButton {
	margin: auto;
	margin-left: 7px;
	margin-right: 7px;
	background-color: rgb(156, 251, 31);
	font-weight: 600;
	padding-left: 5px;
	padding-right: 5px;
}


div.CP-MainContainer > div.CP-TopToolContainer > button.CP-l-saveLoadButton {
	margin: auto;
	margin-left: 7px;
	margin-right: 7px;
	background-color: rgb(26, 250, 101);
	font-weight: 600;
}

div.CP-MainContainer > div.CP-TopToolContainer > button.CP-l-summaryButton {
	margin: auto;
	margin-left: 7px;
	margin-right: 7px;
	background-color: rgb(59, 198, 253);
	font-weight: 600;
}

div.CP-MainContainer > div.CP-TopToolContainer > button.CP-l-resetButton {
	margin: auto;
	margin-left: 7px;
	background-color: rgb(253, 59, 59);
	font-weight: 600;
}

div.CP-MainContainer > div.CP-TableViewContainer {
	width: 95%;
	margin: auto;
	padding-top: 20px;
}

div.CP-MainContainer > div.CP-TableViewContainer > div.CP-l-TableContainer {
	padding-top: 20px;
}

div.CP-MainContainer > div.CP-TableViewContainer > div.CP-l-TableContainer th.MuiTableCell-head {
	font-weight: 600;
}